.products.all-products {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 32px;
  column-gap: 32px;
  padding: 40px 0;
  
  .product {
    padding: 0;
    width: 280px;
  }
}
.title-btn{
  display: flex;
  gap: 8px;
}
.all-products-box {
  display: flex;
  flex-direction: column;
}

.products-section.all-products .container {
  display: flex;
  gap: 32px;
}

.all-products-left {
  display: flex;
  flex-direction: column;
}

.filters-btn {
  display: flex;
  gap: 12px;
  margin-top: 24.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
}

.categories-box-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  
  input {
    display: none;
  }
}

.category-checkbox {
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  position: relative;
  margin-left: 32px;
  
  &::before {
    content: "";
    border: 1px solid #CBD5E1;
    width: 20px;
    height: 20px;
    left: -32px;
    position: absolute;
    border-width: 1px;
    border-radius: 6px;
  }
}

.input-checked {
  position: absolute;
  left: -25px;
  opacity: 0;
  top: 8px;
  width: 8px;
  height: 6px;
}

input:checked + .category-checkbox::before {
  background-color: #0F172A;
  border-color: #0F172A;
}

input:checked + .category-checkbox .input-checked {
  opacity: 1;
}

.prices {
  display: flex;
  gap: 12px;
}

.prices-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.price-line {
  width: 280px;
}

.start-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  gap: 251px;
  padding: 14px 16px;
  border-radius: 12px;
  white-space: nowrap;
  background-color: #F1F5F9;
}